@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@layer base {
  html {
    @apply bg-gray-900;
    font-size: 18px;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    /* font-size: 18px; */
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  white-space: pre-line;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

/* ------------------ NAVIGATION */

.nav {
  font-size: 1.2rem;
}


/* ------------------ HOME PAGE */

.nothing-font {
  font-family: "Nothing You Could Do", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.name-title {
  font-size: 5rem;
}

/* .home-portrait {
  width: 100%;
  max-width: 18em;
  border-radius: 20%;
} */

.contact-icon {
  display: inline-block;
}

#about-header .svg-inline--fa {
  height: 2.5em;
}

#about-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
}

#about-left {
  grid-column: span 1 / span 1;
  margin-right: 15%;
}

#about-right {
  grid-column: span 1 / span 1;
}

.exp-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: clamp(4px, calc(-5.09px + 2.42vw), 24px);
  padding-bottom: 30px;
}

.exp-left {
  grid-column: span 1 / span 1;
}

.exp-right {
  grid-column: span 3 / span 3;
}

/* ------------------- MODAL */

.modal {
  position: fixed;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 0px; */
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior-block: contain;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.modal button {
  position: sticky;
  /* right: 8px; */
  left: 97%;
  top: 0px;
  font-weight: 600;
  z-index: 101;
  color: #fff;
}

.overlayStyles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
}